.YellowButton:hover {
  background-color: rgb(36, 35, 35);
  color: white;
  border: 2px solid rgb(236, 231, 159);
  transform: scale(1.03);
  transition: 0.2s;
}

.Menubar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  transition: 300ms;
}

.Menubar ul li a {
  overflow: hidden;
}

.Menubar ul li a::after {
  opacity: 0.4;
  transform: translate3d(-100%, 0, 0);
}

.Menubar ul li a:hover::after,
.Menubar ul li a:focus::after {
  transform: translate3d(0, 0, 0);
}


.ContactUsContainer:hover{
  transform: translateY(-15px);
  transition: 1s;
}



.ContactUsArea:hover {
  background-size: 130%;
  position: relative;
  height: 90%;
  transition: 1s;
}



.Blog:hover {
  border: 2px solid blue;
  position: relative;
  transition: 0.8s;
  z-index: 22;
  transform: scale(102%);
}

#MenuToggle {
  display: none;
}

@media (max-width: 1000px){
  .MenuIcon {
    display: flex;
  }

  .Menubar {
    display: none;
  }

  .Menubar {
    position: absolute;
  }

  #MenuToggle:checked ~ .Menubar {
    background-color: white;
    height: 120vh;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 100px;
    line-height: 40px;
    transition: 400ms;
    visibility: visible;
  }

  #MenuToggle:checked ~ .Menubar .ButtonContainer {
    margin-left: 80px;
    margin-top: 50px;
    /* width: 100%; */
  }

  #MenuToggle:checked ~ .Menubar ul {
    display: flex;
    flex-direction: column;
    opacity: 0.4;
    margin: 0;
    line-height: 20px;
  }
  #MenuToggle:checked ~ .Menubar ul li a {
    font-size: 2.5rem;
    line-height: 30px;
  }

  #MenuToggle:checked ~ .Menubar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #MenuToggle:checked ~ .MenuButton div span:nth-child(1) {
    background-color: rgb(89, 90, 90);
    transform: rotate(45deg);
    transition: 500ms;
  }
  #MenuToggle:checked ~ .MenuButton div span:nth-child(2) {
    visibility: hidden;
  }
  #MenuToggle:checked ~ .MenuButton div span:nth-child(3) {
    background-color: rgb(89, 90, 90);
    position: absolute;
    top: 15px;
    transform: rotate(-45deg);
    transition: 500ms;
  }

  .AboutArea {
    line-height: 60px;
    width: 98%;
  }

  .AboutArea p {
    font-size: 3.5rem;
  }

  .InfoArea .InfoContant p {
    margin: auto;
  }

  .InfoArea .InfoImage img {
    height: 360px;
  }
  .ContactUsContainer p {
    font-size: 6vw;
    line-height: 9vh;
  }
  .ContactUsArea {
    background-size: 120%;
  }
  .ContactUsArea:hover {
    background-size: 150%;
  }
  


  .PriceContainer img {
    width: 90%;
  }
  .OurTeamArea {
    flex-wrap: wrap;
  }

  .EnquiryContainer {
    font-size: 1.5rem;
  }

  .EnquiryContainer form input {
    width: 80vw;
    font-size: 1.5rem;
    height: 50px;
  }
  }

@media (max-width: 767px) {
  .InfoArea .InfoContant h1 {
    line-height: 40px;
  }

  .AboutArea p {
    font-size: 10vw;
    line-height: 12vw;
  }

  .InfoArea {
    flex-wrap: wrap;
    gap: 0;
  }

  .InfoArea .InfoContant {
    width: 98vw;
    font-size: 0.7rem;
  }

  .DeliverContainer .DeliverArea {
    font-size: 2rem;
    line-height: 40px;
  }

  .InfoArea .InfoImage {
    width: 98vw;
    height: auto;
  }

  .ServiceContainer {
    flex-wrap: wrap;
  }

  .ValueContainer p:nth-child(2) {
    font-size: 7.5vw;
    line-height: 10vw;
  }

  .ValueContainer p:nth-child(3) {
    font-size: 5vw;
    line-height: 08vw;
  }

  .WorkContainer {
    font-size: 5vw;
  }

  .ValueArea {
    flex-wrap: wrap;
  }
  .ValueImage {
    width: 90%;
  }
  .ValuePara {
    line-height: 60px;
    font-size: 1.8rem;
  }

  .ValuePara {
    max-width: 100%;
    width: 100%;
  }
  .HowItWorkContainer {
    font-size: 6vw;
  }
  .ContactUsContainer{
    width: 90%;
  }

  .ContactUsContainer p {
    font-size: 7.5vw;
    line-height: 9vh;
    text-align: center;
  }

  .ContactUsArea {
    background-size: 140%;
  }
  .ContactUsArea:hover {
    background-size: 160%;
  }
  

  .Blog {
    width: 95%;
    margin: 10px;
  }

  .PriceContainer {
    font-size: 5vw;
  }

  .BlogContainer h1 {
    font-size: 8vw;
    margin: 40px 10px;
  }

  .OurTeamContainer {
    font-size: 5vw;
  }

  footer {
    font-size: 4vw;
  }
}

@media (max-width: 575px) {
  #MenuToggle:checked ~ .Menubar .ButtonContainer {
    width: 100%;
    margin-left: 0;
  }

  .ServiceContainer .box2 {
    margin-top: 0;
  }

  .DeliverContainer img {
    height: auto;
    width: 90vw;
  }
 
  .ContactUsArea{
    background-size: 220%;
    position: relative;
    height: 90%;
  }

  .ContactUsArea:hover{
    background-size: 250%;
    position: relative;
    height: 90%;
  }

  .ContactUsArea{
    border-radius: 40px;
  }
  .ContactUsContainer p{
   font-size: 45px;
   line-height: 40px;
  }

  .ContactUsContainer .YellowButton {
    width: 90%;
    
  }

  .YellowButton {
    width: 90%;
  }

}

